<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
<script src="app/libs/scrollToPlugin.js"></script>
<header>
  <h2>The L<span><i class="fa fa-lastfm"></i></span>t Album</h2>
  <div class="searchBox">
    <div class="top">
      <input ng-model="searchInput" type="text" placeholder="artist search" />
      <button class="findArtist" ng-click="findArtist();">search</button>
      <button class="searchAgain" ng-click="slideButtons();">choose another artist</button>
    </div>
    
  </div>
</header>
<section class="artists">
  <p class="message">{{searchMessage}}</p>
  <div class="artist" ng-repeat="result in artistsResult" ng-click="getAlbums(result);">
    <div class="imgWrapper">
      <img ng-src="{{result.image}}" />
    </div>
    <h3>{{result.name}}</h3>
  </div>
</section>
<section class="albums">
  <p class="message">{{searchMessage}}</p>
  <div class="album" ng-repeat="album in albumsResult">
    <div class="imgWrapper">
      <img ng-src="{{album.image}}" />
    </div>
    <h3>{{album.name}}</h3>
  </div>
</section>
